$$ Example - 1$$
- Find sqaure root

In [75]:
val1= int(input("Enter a number"))
x=val1*val1
print(x)


# x=lambda vale1:val1**2
# x=lambda val1:val1*val1
# print(x(val1))

Enter a number 5

25

$$Example - 2$$
- Pattern

In [15]:
for i in range (1,6):
    for j in range (i):
        print('*',end="")
    print("")

*
**
***
****
*****

$$Example - 3$$
- ladder pattern

In [16]:
for i in range (5,0,-1):
    for j in range (i):
        print('*',end="")
    print("")

*****
****
***
**
*

$$Example -4$$
- ladder pattern printing with number

In [17]:
for i in range(5,0,-1):
    for j in range(i):
        print(i,end="")
        i=i-1
    print("")

54321
4321
321
21
1

$$Example -5$$
-  Find largest and smallest element

In [19]:
n= int(input("enter length of the list"))
list1=[]
print("enter the numbers")
for i in range(0,n):
    x=int(input())
    list1.append(x)
print(list1)
print("smallest element is :-->",min(list1))
print("largest  element is :-->",max(list1))

enter length of the list 2

enter the numbers

 1
 2

[1, 2]
smallest element is :--> 1
largest  element is :--> 2

$$Example - 5$$
- sum of the elements in the list:-

In [20]:
mylist=[12,34,56,778]
total=sum(mylist)
print("Sum of all elements in the given list:",total)

Sum of all elements in the given list: 880

$$Example - 6$$
- Multiplication

In [21]:
mylist=[1,2,3,4,5]
result=1
for i in mylist:
    result=result*i
    print(result)

1
2
6
24
120

$$Example-7$$
- Finding elemetns from the given list

In [22]:
mylist=[1,2,3,4,5,65,67,78]
i=12000
if i in mylist:
    print("Element found")
else:
    print("element not found")

element not found

$$Example - 8$$
- Copy list

In [23]:
mylist=[33,22,11,10]
mylist.copy()
print(mylist.copy())

[33, 22, 11, 10]

$$Example - 9 $$
- Clear list

In [24]:
l1=[12,3,4,5,56,7,899,87]
print("mylist before clear ",l1)
l1.clear()
print("after clear:",l1)

mylist before clear  [12, 3, 4, 5, 56, 7, 899, 87]
after clear: []

$$Example - 10$$
- count the length of string

In [25]:
str="Sudarshanrajendrakulawade"
c=0
for i in str :
    c=c+1
print(c)

25

$$Example - 11$$
- count how many time letter occurs into the list

In [30]:
a1=[1,2,3,4,4,4,5,6,8,9,7,432]
x=4
print("{} has occured {} times".format(x,a1.count(x)))

4 has occured 3 times

$$Example-12$$
- count the length of the list

In [32]:
k1=[1,2,3,4,5,6,7,8,9,0,12,23,4]
print(k1)
print("Length of the given list :",len(k1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 12, 23, 4]
Length of the given list : 13

$$Example - 13$$
- Swap the first and last element :

- Swap

In [7]:
a=10
b=20
a,b=b,a
print('a',a)
print('b',b)

a 20
b 10

In [1]:
j=[12,33,44,55,66,77]
p1,p2=1,3
j[p1],j[p2]=j[p2],j[p1]
print(j)

[12, 55, 44, 33, 66, 77]

$$Example - 14$$
- Fibonacci series

In [8]:
n=int(input("enter you number"))
a=0
b=1
print(a)
print(b)
for i in range (2,n):
    c=a+b
    a=b
    b=c
    print(c)

enter you number 10

0
1
1
2
3
5
8
13
21
34

$$Example -15 $$
- swapping value by taking input from user

In [12]:
a=input("Enter first value a : --> ")
b=input("Enter first value b : --> ")

print("Before a={0} and b={1}".format(a,b))

t=a
a=b
b=t
print("After a:{0} and b:{1}".format(a,b))

Enter first value a : -->  1
Enter first value b : -->  2

Before a=1 and b=2
After a:2 and b:1

$$Example-16$$
- Check the given string is palindrome or not

In [30]:
c= input("Enter your value")
a=c[::-1]
if c==a:
    print('the given string is **palindrome**')
else:
    print('the given string is **not palindrome**')

Enter your value MADAM

the given string is **palindrome**

$$Example- 17$$
- print the first 1-50 even and odd number

In [48]:
n=int(input("Enter your number"))
for i in range (1,n):
    if i%2 ==0:
        print('even --> ',i)
    else:
        
        print("odd",i)

Enter your number 6

odd 1
even -->  2
odd 3
even -->  4
odd 5

$$Example- 18$$
- without using inbuilt function do the reverse string

In [55]:
str1="Welcome to the python programming"
words=str1.split(" ")
print("Before doing reverse operation string==>",words)
words=words[::-1]
print("After doing reverse operatino ==>",words)

Before doing reverse operation string==> ['Welcome', 'to', 'the', 'python', 'programming']
After doing reverse operatino ==> ['programming', 'python', 'the', 'to', 'Welcome']

- using inbuilt function

In [61]:
print("Default string ==>",str1)
words.reverse()
words

Default string ==> Welcome to the python programming

['programming', 'python', 'the', 'to', 'Welcome']

$$Example - 19$$
- find substring

In [69]:
str1="Welcome to the python programming"
sub_str="python"

print(str1.find(sub_str))
if (str1.find(sub_str))==1:
    print("Not found")
else:
    print("Found the given sub string")

15
Found the given sub string

$$Example -20$$
- Change the value from "c++" to "python" from the given list

In [74]:
lang=["java","C","R","C++","SQL"]
update=lang[0]="pytohn"
update
lang

['pytohn', 'C', 'R', 'C++', 'SQL']