$$Dictionary$$

- **Intoduction**
- python dictionary is an unordered collection of items
- Each Item of a dictionary has key /value pair
- Dictionaries are optimized to retrieve values when the key is known.
- Creating dictionary is simple as palcing items inside the curly braces {} separated by columns
- an item has a key and a corresponding value tha is expressed a pairkey: value

In [79]:
city={"mumbai":22,"hyderabad":33,"pune":44,"Delhi":42}

In [80]:
city

{'mumbai': 22, 'hyderabad': 33, 'pune': 44, 'Delhi': 42}

In [81]:
type(city)

dict

In [82]:
len(city)

4

$$Properties -  of - Dictionary$$
- Dictionary are **mutable** , so we can easily add or remove items 
- Unordered 
- Have no notion of index position and so cannot be sliced
- keys 
-  no dublicate keys allowed
- Keys must be immutable -any object ,built-in type or user defined - Numbers , strings ,list,set,dictionaries etc

**Creating Dictionary using dict() function**

In [83]:
d1=dict([("one",1),("two",2),("Three",3)])

In [84]:
d1

{'one': 1, 'two': 2, 'Three': 3}

**Accessing  value  from  dictionary**

- While indexing is used with other data types to access values , a ditcionary uses keys.
Keys can be used either inside sqaure brackets [] or with the get () method.
- If we use the sqaure bracket [],KeyError is raised in case a key is not found - - in the dictionary on the other hand ,the get() method returns none if the key is not found

In [85]:
city

{'mumbai': 22, 'hyderabad': 33, 'pune': 44, 'Delhi': 42}

In [86]:
city["mumbai"]

22

In [87]:
city["junnar"]

KeyError: 'junnar'

**Modifying a dictionary**

- changing available values

In [88]:
city

{'mumbai': 22, 'hyderabad': 33, 'pune': 44, 'Delhi': 42}

In [89]:
city["mumbai"]=40

In [90]:
city

{'mumbai': 40, 'hyderabad': 33, 'pune': 44, 'Delhi': 42}

$$Inserting - new - key-value - pairs$$

In [91]:
city["bhopal"]=60

In [92]:
city

{'mumbai': 40, 'hyderabad': 33, 'pune': 44, 'Delhi': 42, 'bhopal': 60}

In [93]:
city["junnar"]=14

In [94]:
city

{'mumbai': 40,
 'hyderabad': 33,
 'pune': 44,
 'Delhi': 42,
 'bhopal': 60,
 'junnar': 14}

$$Deleting - existing - key-value - pairs$$

In [95]:
del city

In [96]:
city

NameError: name 'city' is not defined

**METHODS OF DICTIONARY**

- 1 .keys()--> gives output of keys only after printing output.it should be in **List** |  Return all the keys in a dictionary

- 2 .value()--> print only values | Return all the values in a dictionary
- 3 .items()--> if we want keys and value we **.items()**
- 4 .get()--> Returns value of given key if key is in the dictionary, else default.

- 5 str()-->gives output in string format(".....")
- 6 pop()-->Remove specified key and return the corresponding value
- If key is not found, default is returned if given, otherwise KeyError is raised

- 7 popitem() -->•i) Remove and return a (key, value) pair as a 2-tuple.
- ii)Pairs are returned in LIFO (last-in, first-out) order.
- iii)Raises KeyError if the dict is empty.

- 8 update()--> Updates the dictionary with the key/value pairs from other, overwriting existing keys.
- 9 clear()-->Remove all items from Dictionary

In [97]:
city={"pune":14,"mumbai":43,"patna":69,"bhopal":85,"delhi":69}

In [98]:
city

{'pune': 14, 'mumbai': 43, 'patna': 69, 'bhopal': 85, 'delhi': 69}

$$.keys()$$

In [99]:
city.keys()

dict_keys(['pune', 'mumbai', 'patna', 'bhopal', 'delhi'])

$$.values()$$

In [100]:
city.values()

dict_values([14, 43, 69, 85, 69])

$$items()$$

In [101]:
city.items()

dict_items([('pune', 14), ('mumbai', 43), ('patna', 69), ('bhopal', 85), ('delhi', 69)])

$$get()$$

In [102]:
city.get("pune")

14

In [103]:
city["mumbai"] ## using square bracket to get values from dict

43

In [104]:
city

{'pune': 14, 'mumbai': 43, 'patna': 69, 'bhopal': 85, 'delhi': 69}

In [105]:
city.get("pune")

14

In [106]:
type(city.get('pune'))

int

In [107]:
type(city.get('junnar'))

NoneType

In [108]:
city.get("junnar",14)

14

In [109]:
city

{'pune': 14, 'mumbai': 43, 'patna': 69, 'bhopal': 85, 'delhi': 69}

In [110]:
city.get("mumbai",69)

43

$$str()$$

In [111]:
city

{'pune': 14, 'mumbai': 43, 'patna': 69, 'bhopal': 85, 'delhi': 69}

In [112]:
str(city)

"{'pune': 14, 'mumbai': 43, 'patna': 69, 'bhopal': 85, 'delhi': 69}"

$$pop()$$

- remove specified key and return the corresponding value.
- if key is not found ,default is returned if given , otherwise **KeyError** is raised

In [113]:
city.pop("delhi")

69

In [114]:
city

{'pune': 14, 'mumbai': 43, 'patna': 69, 'bhopal': 85}

In [115]:
ciyt.pop("junnar")

NameError: name 'ciyt' is not defined

In [116]:
city.pop("junnar",14)

14

In [117]:
city

{'pune': 14, 'mumbai': 43, 'patna': 69, 'bhopal': 85}

$$popitem()$$

- i)  Remove and return a (key, value) pair as a 2-tuple.
- ii) Pairs are returned in LIFO (last-in, first-out) order.
- iii) Raises KeyError if the dict is empty.

In [118]:
city

{'pune': 14, 'mumbai': 43, 'patna': 69, 'bhopal': 85}

In [119]:
city.popitem()

('bhopal', 85)

In [120]:
city

{'pune': 14, 'mumbai': 43, 'patna': 69}

In [121]:
city.popitem()

('patna', 69)

In [122]:
city

{'pune': 14, 'mumbai': 43}

$$update(other)$$
- Updates the dictionary with the key/value pairs from other, overwriting existing keys.

In [123]:
city

{'pune': 14, 'mumbai': 43}

In [126]:
ct={"bangalore":30,"patna":66,"delhi":69}

In [127]:
city.update(ct)

In [128]:
city

{'pune': 14, 'mumbai': 43, 'bangalore': 30, 'patna': 66, 'delhi': 69}

In [130]:
ct

{'bangalore': 30, 'patna': 66, 'delhi': 69}

$$clear()$$
- Remove all items from Dictionary

In [133]:
city.clear()

In [135]:
city

{}

**For loop on dictionary**

In [137]:
personal_info={"username":"Bunty",
               "email":"Buntoo@123.gmail.com",
               "phone_no":69964525,
               "fname":"ubuntoo",
               "lname":"cool"}

In [138]:
personal_info

{'username': 'Bunty',
 'email': 'Buntoo@123.gmail.com',
 'phone_no': 69964525,
 'fname': 'ubuntoo',
 'lname': 'cool'}

In [154]:
for i in personal_info:
    print(i)

username
email
phone_no
fname
lname

In [158]:
for i in personal_info:
    print(personal_info[i])

Bunty
Buntoo@123.gmail.com
69964525
ubuntoo
cool

In [160]:
for i in personal_info:
    print(i,":",personal_info[i])

username : Bunty
email : Buntoo@123.gmail.com
phone_no : 69964525
fname : ubuntoo
lname : cool

In [161]:
for i in personal_info.keys():
    print(i)

username
email
phone_no
fname
lname

In [163]:
for i in personal_info.values():
    print(i)

Bunty
Buntoo@123.gmail.com
69964525
ubuntoo
cool

In [165]:
for i in personal_info.values():
    print(i)
    print("_"*5)

Bunty
_____
Buntoo@123.gmail.com
_____
69964525
_____
ubuntoo
_____
cool
_____