$$List$$

- Introduction

- list --> are created using **square bracket --> []**

- [] --> we can assign any value in between of that e.g   **[tuple(),boolean_value,integer ]**

- list are order and we have index to access

- list items are **ordered ,changebale, and allow dublicate value.**

- thats why we called list are mutable--**update,delet,insert....etc**

In [3]:
cities=['mumbai','pune','bangalore','delhi']

In [4]:
print(cities)

['mumbai', 'pune', 'bangalore', 'delhi']

In [5]:
type(cities)

list

In [6]:
odd_num=[1,3,5,7,9]
print(odd_num)

[1, 3, 5, 7, 9]

In [7]:
type(odd_num)

list

- list can contain different types of objects

In [8]:
different =[1,"Sudarshan",'Mit',68.67,True]
print(different)

[1, 'Sudarshan', 'Mit', 68.67, True]

$$Length-of-List$$

- use len function

In [9]:
len(different)

5

In [10]:
len(cities)

4

$$Empty-List$$

In [11]:
s1=list()

In [12]:
len(s1)

0

In [13]:
type(s1)

list

In [14]:
s2=[]

In [15]:
type(s2)

list

$$Accessing - elements - of - the - list $$
- Elements of the list can be accssed using **indexing**

- we can use index operator [] (square bracketing) to access an items in a list

- in python, indicates start at 0(zero). 
- so, a list having 5 elements will have an index from 0 to 4

- Trying to access indexes other than these will raise **IndexError**.

- The index must be an integer . we can't use float or other types , this will result **TypeError**.

- Python allows negative indexing for its sequences. The index -1 refers to the last item,-2 to the second last item and so on.

In [16]:
cities

['mumbai', 'pune', 'bangalore', 'delhi']

In [17]:
cities[0]

'mumbai'

In [18]:
cities[1]

'pune'

In [19]:
cities[2]

'bangalore'

In [20]:
cities[-1]

'delhi'

In [21]:
cities[5]

IndexError: list index out of range

In [ ]:
cities[-5]


$$_List Slicing_$$

-  we can access a range of items in a list by using the slicing operator : (colon)

In [22]:
odd_num

[1, 3, 5, 7, 9]

In [23]:
len(odd_num)

5

In [24]:
odd=odd_num[2:6] #start index + stop index

In [25]:
odd

[5, 7, 9]

In [26]:
odd_num[:6] # end point index at 6th position (indexing always writtens as stop index plus 1))
# here actual indexing will start from 0th index position element to the 5 indexing elemnt that menas last from our list

[1, 3, 5, 7, 9]

$$ _Modifying List_ $$

In [27]:
cities

['mumbai', 'pune', 'bangalore', 'delhi']

In [28]:
cities[2]="junnar"

In [29]:
cities

['mumbai', 'pune', 'junnar', 'delhi']

__Modifying using index range__

In [30]:
cities

['mumbai', 'pune', 'junnar', 'delhi']

In [31]:
cities[1:3]

['pune', 'junnar']

In [32]:
cities[1:3]=["barav","Punjab"]

In [33]:
cities

['mumbai', 'barav', 'Punjab', 'delhi']

**Properties of lists**

- 1. Heterogenus (any data type!)
- 2. Ordered(numbered from 0 to n-1)
- 3. Have random access to any element (Using index)
- 4. Number of elements can change very easily 
- 5. Lists are mutable

$$METHOD-OF-LISTS$$
- 1) append(ele)-->it adds the elements by default at the end of list


- 2) extend(L) --> combine 2 list together | add to lists together | to add or join new list to old list 


- 3) insert(i, elem) -->it adds the element at particular position or index 


- 4) remove(element) -->Remove first item that is equal to elem, from the list | remove the element which we want to remove 

$$ IMP$$
- 5) pop([i])--> i)it will remove **default last element** from list if index is not given .
- ii)you have to give index of element which you want to reomve
- iii) in case of boolean value is mentioned it will not removed by **remove()-function** so we use pop() function


- 6) clear()-->it will amke list empty

- 7) index(element)--> Return index of first item that is equal to elem

- 8) count --> it counts how many times element appeared in the list
- 9) sort() -->i)  Sort items in a list in ascending order
-             ii) To sort in descending order use reverse = True
- 10) reverse() -->  Reverse the order of items in a list

In [34]:
cities1=['banagalore','chennai','jaipur','kolkata']

In [35]:
cities1

['banagalore', 'chennai', 'jaipur', 'kolkata']

$$append(elem)$$
• Add item elem at the end of the list

In [36]:
cities1.append('pune')

In [37]:
cities1

['banagalore', 'chennai', 'jaipur', 'kolkata', 'pune']

$$extend(L)$$
- combine 2 list together | add to lists together | to add or join new list to old list

In [38]:
y=[1,2,3,4,5,6]
z=["hello","bye","good bye","good night"]
y.extend(z)
print(y)

[1, 2, 3, 4, 5, 6, 'hello', 'bye', 'good bye', 'good night']

$$insert(i,element)$$
- insert(i, elem) -->it adds the element at particular position or index

In [39]:
x=[1,2,3,"hello","bye","junnar","pune","MH"]
x.insert(5,"Sudarshan") # add element at index 5th
x

[1, 2, 3, 'hello', 'bye', 'Sudarshan', 'junnar', 'pune', 'MH']

In [40]:
x.insert(6,"Bunty")
x

[1, 2, 3, 'hello', 'bye', 'Sudarshan', 'Bunty', 'junnar', 'pune', 'MH']

In [41]:
x.insert(1,"cool")
x

[1, 'cool', 2, 3, 'hello', 'bye', 'Sudarshan', 'Bunty', 'junnar', 'pune', 'MH']

$$rmeove(element)$$
- Remove first item that is equal to elem, from the list | remove the element which we want to remove

In [42]:
b=["bunty","sudarshan","shubham","ajinkya"]
b.remove("bunty")
b

['sudarshan', 'shubham', 'ajinkya']

$$pop([i])$$
- Remove and return item at position i (last item if i is not provided)

In [43]:
city=["pune","mumbai","bang","delhi","Punjab"]
city.pop(0) # here we are providing index of the position
city

['mumbai', 'bang', 'delhi', 'Punjab']

In [44]:
city.pop(3)

'Punjab'

$$ index(elem)$$

- Return index of first item that is equal to elem$$

In [45]:
city

['mumbai', 'bang', 'delhi']

In [46]:
city.index("mumbai")

0

In [47]:
city.index("bang")

1

$$count(elem)$$
- Return the number of items that is equal to elem

In [48]:
k=["i","a","a","c","a","d","m","s","s","c"]
k.count("a")

3

In [49]:
k.count("s")

2

In [50]:
k.count("c")

2

In [51]:
k.count("a")

3

$$ sort()$$

- sort items in a list asceding order
- to sorder in descending order use reverse = **True**

In [53]:
stu=["sudarshan","aditya","prasad","ajinkya"]
stu.sort()
stu

['aditya', 'ajinkya', 'prasad', 'sudarshan']

In [55]:
stu.sort(reverse=True)
stu

['sudarshan', 'prasad', 'ajinkya', 'aditya']

$$reverse()$$
- reverse the order of items in a list

In [57]:
day=["mon","tue","wed","thu","fri","sat","sun"]
day.reverse()
day

['sun', 'sat', 'fri', 'thu', 'wed', 'tue', 'mon']

- withought using inbuild function we use **[ : : -1]**

In [58]:
day[::-1]
day

['sun', 'sat', 'fri', 'thu', 'wed', 'tue', 'mon']

$$clear()$$
- Remove all items and empty the list

In [62]:
day.clear()
day # we are getting empty list here

[]

$$Deleting - a - List $$
- Use del

In [64]:
city

['mumbai', 'bang', 'delhi']

In [65]:
del city

In [66]:
city

NameError: name 'city' is not defined

$$operators -  on -  list$$

- 1) Membership
- 2) Arithmetic

$$Membership$$
- in
- not in

In [67]:
lang=["python","java","c","c++"]
"python" in lang

True

In [68]:
"javascript" in lang

False

$$Arithmetic$$
- • +
- • *

In [70]:
p=[1,2,3]
q=[4,5,6]

In [71]:
p+q

[1, 2, 3, 4, 5, 6]

In [76]:
p*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

$$Nested - list$$

- List as a List element or we can say list inside a list
-  Nested lists are accessed using nested indexing.

In [81]:
nest1=["monday","today",[1,2,3]]

In [82]:
nest1[0]

'monday'

In [84]:
nest1[2]

[1, 2, 3]

In [85]:
nest1[2][0]

1

In [86]:
nest1[2][1]

2

In [87]:
nest1[2][2]

3

In [88]:
nest1[2][3]

IndexError: list index out of range

**A matrix can be represented using a nested list**

In [90]:
mx=[[1,2,3],[4,5,6],[7,8,9]]

In [91]:
mx

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [93]:
mx[0][2] # 0 th positon and from that we want element 3 i.e index[2]

3

$$split - and - join - methods - of - String$$

- split()
- The **split()** method split a string into a **list**
- You can specify the spector with **sep** , default separator is any whitespace.
- maximum number of split to do can the specified with **maxsplit**

In [97]:
sentence=" When the winter come, the lone wolf dies but the pack survives"

In [98]:
words=sentence.split()

In [99]:
words

['When',
 'the',
 'winter',
 'come,',
 'the',
 'lone',
 'volf',
 'dies',
 'but',
 'the',
 'pack',
 'survives']

In [100]:
sentence

' When the winter come, the lone volf dies but the pack survives'

In [101]:
sentence.split(",")

[' When the winter come', ' the lone volf dies but the pack survives']

$$join$$

- The join method takes all items in an iterable and joins them into one stirng
- A string must be specified as the separator
- **SYNTAX-: string.join(iterable)**

In [104]:
sentence_list = ['When','the','winter',
'comes,',
'the',
'lone',
'wolf',
'dies',
'but',
'the',
'pack',
'survives.']

In [105]:
" ".join(sentence_list)

'When the winter comes, the lone wolf dies but the pack survives.'

In [106]:
separator=" "

In [107]:
separator.join(sentence_list)

'When the winter comes, the lone wolf dies but the pack survives.'

$$For - Loop - on - List$$

In [109]:
sentence_list

['When',
 'the',
 'winter',
 'comes,',
 'the',
 'lone',
 'wolf',
 'dies',
 'but',
 'the',
 'pack',
 'survives.']

In [110]:
for i in sentence_list:
    print(i)
    print('.-'*4)

When
.-.-.-.-
the
.-.-.-.-
winter
.-.-.-.-
comes,
.-.-.-.-
the
.-.-.-.-
lone
.-.-.-.-
wolf
.-.-.-.-
dies
.-.-.-.-
but
.-.-.-.-
the
.-.-.-.-
pack
.-.-.-.-
survives.
.-.-.-.-

$$For - Loop - on - List$$

In [111]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]

In [115]:
for i in matrix:
    print(i)
    for j in i:
        print('\t',j+2)
        print('\/'*10)

[1, 2, 3]
	 3
\/\/\/\/\/\/\/\/\/\/
	 4
\/\/\/\/\/\/\/\/\/\/
	 5
\/\/\/\/\/\/\/\/\/\/
[4, 5, 6]
	 6
\/\/\/\/\/\/\/\/\/\/
	 7
\/\/\/\/\/\/\/\/\/\/
	 8
\/\/\/\/\/\/\/\/\/\/
[7, 8, 9]
	 9
\/\/\/\/\/\/\/\/\/\/
	 10
\/\/\/\/\/\/\/\/\/\/
	 11
\/\/\/\/\/\/\/\/\/\/