$$Set$$
- A set is an unordered collection of items
- Every set element is unique (no dublicates) and must be immutable(cannot be changed)
- A set is created by placing all the items (elements) inside curly braces **{}** ,separated by **comma( , )** or by using built-in **set()** function
-  denoted bye==> **{}**
- It can have any number of items and they may be of different type(integer,float,tuple,string etc.)
- But a set cannot have mutable elements like lists,sets or dictionaries as its elements.

In [1]:
my_set={1,2,3}
print(my_set)

{1, 2, 3}

In [7]:
s={10,20,30,40,10}

print(s)

{40, 10, 20, 30}

In [8]:
print(type(s))

<class 'set'>

$$Set - 
cannot - have - duplicates$$

In [9]:
my_set={1,2,3,4,5,6,7}
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

- we can make set from list

In [10]:
my_set=set([2,3,4,5,4,4])
print(my_set)

{2, 3, 4, 5}

- set cannot have mutable items 
-  here [3,4] is a mutable list this will cause an error

In [12]:
my_set={1,2,[3,4]}
print(my_set)

TypeError: unhashable type: 'list'

$$creating - an - empty - set $$

In [18]:
#initialize a with {}
a={}

In [19]:
#check the data type 
type(a)

dict

In [20]:
#inintilazie a with set
b=set()

In [21]:
type(b)

set

$$Modifying - a - set - in - python$$

- set are mutable . however ,since they are unordered , indexing has no meaning
- we cannot access or change an eelement of a set using or slicing .Set data type does not support it.
- we can add a single element using add() method , and multiple elements using the update () method
- The update() method can take tuples,list,string,or others setes as its arguments. In all cases dublicates are avoided

In [26]:
my_set={1,3}
print(my_set)

{1, 3}

In [27]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [28]:
## add an element
my_set.add(2)

In [29]:
my_set

{1, 2, 3}

In [30]:
# add multiple elements 
my_set.update([2,3,4])

In [31]:
my_set

{1, 2, 3, 4}

- add list and set

In [32]:
my_set.update([4,5],{1,6,8})

In [33]:
my_set.update('h1')

In [34]:
my_set

{1, '1', 2, 3, 4, 5, 6, 8, 'h'}

$$Removing - elements - from - a - set $$

In [35]:
my_set = {1,2,3,4,5,6}
print(my_set)

{1, 2, 3, 4, 5, 6}

- Discard an element

In [37]:
my_set.discard(4)

In [38]:
my_set

{1, 2, 3, 5, 6}

- remove an element

In [39]:
my_set.remove(6)

In [40]:
my_set

{1, 2, 3, 5}

- discard an element not present in my_set

In [46]:
my_set.discard(9)

In [47]:
my_set

{1, 3, 5}

- remove an element using remove 
- it will give an errror

In [48]:
my_set.reove(9)

AttributeError: 'set' object has no attribute 'reove'

- similarly, we can removed and retturn an item using pop() method
- since set is unordered data type,there is no way of determining which item will be popped.It is completely arbitray

In [49]:
my_set = set("HelloSudarshan")

In [50]:
my_set

{'H', 'S', 'a', 'd', 'e', 'h', 'l', 'n', 'o', 'r', 's', 'u'}

In [51]:
# pop an element
# Outpput: random element 
my_set.pop()

'l'

In [52]:
my_set

{'H', 'S', 'a', 'd', 'e', 'h', 'n', 'o', 'r', 's', 'u'}

- we can also remove all items from a set using clear() method

In [53]:
my_set.clear()

In [54]:
my_set

set()

$$Set - Operations $$

- set can be used to carry out mathematically set operations like **union,intersection,differnece and symetric difference**.we can do this with operator or methods

In [59]:
A={1,2,3,4,5}
B={4,5,6,7,8}

$$Set - Union$$

- union of A and B is a set of all elements from both sets  
- Union is performed using  | operator .same can be accomplished using the union() method.

In [60]:
# use / operator
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

$$set - intersection$$

- Intersection of A and B is a set of elements that are common in both the sets 
- Intersection is performed using & operator . same can be accomplished using the intersection () method

In [62]:
print(A&B)

{4, 5}

In [63]:
A.intersection(B)

{4, 5}

In [64]:
B.intersection(A)

{4, 5}

$$set - difference$$

- Differenece pf the set B from set A(A-B) is a set of elements that are only in A but npt in B . similarly ,B-A is a set of elements in B but not in A.
- Difference is performed using - operator .same can be accomplished using the **difference()** method

In [65]:
#use -  operator on A 
print (A - B)

{1, 2, 3}

In [66]:
B-A

{6, 7, 8}

In [68]:
A.difference(B)

{1, 2, 3}

In [70]:
B.difference(A)

{6, 7, 8}

$$ Frozenset$$

- frozenset has characteristics of a set , but its element cannot be changed once assigned. while tuples are immutable list,frozensets are immutable sets.
- Frozenset can be created using frozensets() function 
- Being immutable ,it does not have methods tha add or remove elements

In [71]:
A=frozenset([1,2,3,4])
B=frozenset([3,4,5,6])

In [78]:
A

frozenset({1, 2, 3, 4})

In [79]:
print(B)

frozenset({3, 4, 5, 6})

In [80]:
type(B)

frozenset

In [81]:
A.difference(B)

frozenset({1, 2})

In [82]:
A | B

frozenset({1, 2, 3, 4, 5, 6})

In [ ]:
A.add(3)