$$String$$

**Introduction**

- **STRING ARE IMMUTABLE -->CANNOT MODIFY A CHAR IN STRING ,THE ELEMENTS CANNOT BE CHANGED ONCE THEY HAVE BEEN ASSIGNED**
- **WE CAN SIMPLY REASSIGN DIFFERENT STRINGS TO THE SAME NAME**
- A string is a sequence of characters.
- String means plane text i.e(letter ,sentences,word any thing)\
- string are always return under quotes
- When string contain numbres, is still a string 
- we can convert numbers string into a number using int () or float()

In [2]:
str1="Sudarshan"
str2="Kulawade"
print(str1)
print(str2)

Sudarshan
Kulawade

In [4]:
type(str1)

str

In [9]:
str3="123"
print(str3)
type(str3)

123

str

- String literals can be defined with single quotes or double quotes.
- Can use other type of code inside the string

In [10]:
bond="i am bond'....'james bond"

In [12]:
print(bond)

i am bond'....'james bond

$$Multiline-string$$

- multiline strings can be initialized using '''str''' or """str"""

In [13]:
str1='''i am sudarshan
"from junnar"
""pune"""
'''

In [14]:
print(str1)

i am sudarshan
"from junnar"
""pune"""

$$Keyboard-input$$

- when we take input from user by default it is in the string format

In [17]:
name =input("Enter you name :")

Enter you name : sudarshan

In [18]:
type (name)

str

- convert it into as per our requirement

In [27]:
number =input("enter your mobile number ")

type(number)

enter your mobile number  12154

str

In [24]:
number2=int(input(("Enter you mobile number ")))
type(number2)

Enter you mobile number  12154

int

- Escape Character

- \n--> new line 
- Tab --> \t
- an escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [29]:
txt = "We are the so-called\"Vikings\" from the north."

In [30]:
print(txt)

We are the so-called "Vikings" from the north.

$$1)-Length$$
- Length-- len()-->it will give you the length of the string i.e how many charcaters are in the string 
- including whitespace (because white space is also character)
- that why when we run program white space is calculated

In [31]:
str1="S.u.d.a.r.s.h.a.n"

In [32]:
print(len(str1))

17

$$2.upper()$$

 - upper()--> it will convert string lowercase to uppercase

In [37]:
game_name = "volleyball"
print(game_name.upper())

VOLLEYBALL

$$3).lower()$$

- .lower()--> it will convert upper case to lowercase

In [39]:
game_name = "VOLLEYBALL"
print(game_name.lower())

volleyball

In [6]:
name=input("enter your name")
print(name.lower())

enter your name Sachin TENDULKAR

sachin tendulkar

$$4.casefold()$$

- casefold()--> Similarly we have another function for converting **UPPERCASE TO LOWER CASE**

$$5.)swapcase()$$

- .swapcase() - Swaps cases,it will convert lower case to upper and upper case to lower [vice versa]

In [9]:
school_name =("shankarrao BuTTE PAtil jUNNAR")
print(school_name.swapcase())

SHANKARRAO bUtte paTIL Junnar

$$6) .isupper()$$

- isupper() - Returns True if all characters in the string are upper case

In [11]:
p="Mumbai"
print(p.isupper())

False

In [12]:
p="PUNE"
print(p.isupper())

True

$$7). islower()$$

- islower() - Returns True if all characters in the string are lower case.

In [15]:
p="mumbai"
print(p.islower())

True

In [17]:
m="PUne"
print(m.islower())

False

**Find and Replace**

- search for a string and replce with another substring using replace()
- Syntax --> S.replace(old ,new[,count])
- replace all occurence of the substring 
- Return the string after the replcaemnet

$$8).replace()$$

- it will replace old value by new valuein the string

In [21]:
h="Hello World "
h.replace("World","India")

'Hello India '

In [24]:
h

'Hello World '

In [33]:
 h.replace('l','L',2) # here first 2 l, by L repalce

'HeLLo World '

In [34]:
h.replace('l','L') # it will replace all the l,by L

'HeLLo WorLd '

In [35]:
h.replace('l','L',2)

'HeLLo World '

$$9).find()$$

- .find()--> it will **return the idnex of first ooccureance** of specified value
- if it does not foud that value in the string then **it will return -1**

In [38]:
x="python"
print(x.find("n"))

5

In [39]:
x="sudarshan"
print(x.find("z"))

-1

$$10) **rfind()**$$

- it searches the string of a specified value and returns the  **last position** where it is found
- if it dows not foud that value in the string then **it will return -1**

In [47]:
t="python is booming lang in this world"
print(t.rfind("d"))

35

In [53]:
print(t.rfind("lang"))

18

$$11).capitalize()$$

- .capitalize()-->it will capitalize **only the first letter** of the word or sentence

In [55]:
v="pune is a district"
print(v.capitalize())

Pune is a district

In [56]:
v1="sudarsha rajendra kulawade"
print(v1.capitalize())

Sudarsha rajendra kulawade

$$12).title()$$

- it will capitalize the **first letter of every word** in the sentence

In [58]:
a="sudarshan rajendra kulawade"
a.title()

'Sudarshan Rajendra Kulawade'

$$13).index()$$

- index start from 0 (zero)
- trying to access a character out of index range will raise an **IndexError**
- The index must be an intger. we cannot use float or other types , this will result into **TypeError**
- python allows negative indexing for its sequence for indexing from the end 
- the index of  -1 refers to the last item ,-2 to the second last item and so on.

- search the string for specified value and returns the position of where it was found
- if we the value in the string whic is not present in the given string it will give **error-->ValueError: substring not found**

In [66]:
x="pune"
x.index("p")

0

- **it will go with the first occurance of the letter**
- **it will tell you where the index start**

In [69]:
e1="python grows rapidly  in the world , python is the best choice"
print(e1.index("python"))  ## we will get output as  0

0

In [ ]:
e="essential"
e.index("s")

$$13).count()$$

- **it will count how many times letter or word occurs in the string**

In [73]:
v="he is in india working in It"
print(v.count("in"))
print(v.count("i"))

4
6

$$14).split() _ _imp_ _$$

-  it will convert __sentence__ into **list of the word**
- but cannot apply on single word

In [76]:
s="pune is historical city"
print(s.split())

['pune', 'is', 'historical', 'city']

In [78]:
s1="i am from junnar"
s1.split(" ")

['i', 'am', 'from', 'junnar']

In [79]:
s2="i am from pune"
s2.split("from")

['i am ', ' pune']

In [83]:
email="sudarshankulawade61@gmail.com"
email.split("@")

['sudarshankulawade61', 'gmail.com']

$$15).join$$

- it will join splitting list
-  Joins the elements of an iterable to the end of the string.

In [97]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [98]:
email="Sudarshankulawade@61gmail.com"
email1="*".join(email)
print(email1)

S*u*d*a*r*s*h*a*n*k*u*l*a*w*a*d*e*@*6*1*g*m*a*i*l*.*c*o*m

$$16).strip()$$

$$Removing Whitespaces$$
- **strip()**-->it will remove white sapce around the string but not inside the sttring 
- **lstrip**--> remove white space at the beginning of the left side
- **rstrip()**--> remove white space around the end of the right side

In [106]:
j="      bunty doesnt share food!!!!         "

print(j.lstrip()) #remove white  space at the beginning of the string
print(j.rstrip()) #remove white  space at the ending of the string
print(j.strip()) #remove whote space frm bothe right side and left side

bunty doesnt share food!!!!
      bunty doesnt share food!!!!
bunty doesnt share food!!!!

$$17).center()$$

- .center()--> it will kept string at the center and here we can specify width also

In [110]:
c="hello pune"
print(c.center(30))  ##   (30)-->means from left side and right side we want that much of width ____15cm_____hello pune____15cm____

          hello pune

$$18).startswith$$
- .startswith()--> returns **True** if the string starts with specified value.  
- gives output in the for of **True or False**

In [115]:
k="Welcome to my world"
k.startswith('Wel')

False

In [118]:
l="sudarshan"
l.startswith("k")

False

$$19).endswith()$$
- Returns true if the string ends with the specified value

In [122]:
s="hello, welcome to pune"
s.endswith("e")

True

$$_String fromatting_$$
- **Method-1**

- f-string -[introduce in python 3.6]
- f string --> start with **f** and value are stored in variable and put value in **{}**

In [131]:
#example --> sam  is 20 years old 
name = 'sam'
age=20

print(f"{name} is {age} years old ")

sam is 20 years old

In [133]:
location='pune'
state='maharashtra'
print(f'i am from {location} and my state is {state}')

i am from pune and my state is maharashtra

$$.format -specification$$
**Method-2**

In [134]:
age = 36
txt = "My name is bunty, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

**in above example we are getting error because we can only concatenate string (str+int --not allowed )**
- but we can combine string and number by using the format() method!
- The format method takes the passed arguments ,formats them, and places them in the stringwhere the placeholders **{}**are:

- format()

In [135]:
age=24
name="my name is bunty, and i am {}"
print(name.format(age))

my name is bunty, and i am 24

In [138]:
name="{} here,i am {} years old".format("Sudarshan",24)
print(name)

Sudarshan here,i am 24 years old

**here type of given *message* is (string)
  if (,) is present in the string the type--> tuple())**

In [ ]:
name ="eric"
profession="comedian"
affilation= "monty python"

message=(f"hi {name}"
f" you are {profession}"
f" you are in {affilation}")
message

In [145]:
quantity = 3
itemno = 333
price = 30
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 30 dollars for 3 pieces of item 333.

$$RAW _STRING$$

• Suppress the meaning of escape chars

In [151]:
hb=r"happy\n\tBirthday"
print(hb)

happy\n\tBirthday

$$Operations-on-string $$

- 1) Concatenation
- 2) Repetition
- 3) Access a char using index
- 4) Slicing
- 5) Membership
- 6) Raw String

 $$1)concatenation -->$$ 
- means its a process of adding two  or combining string together and we use **+** sign for adding string

In [155]:
fname="Sudarshan "
mname="Rajendra "
lname="Kulawade"

print(fname+mname+lname)

Sudarshan Rajendra Kulawade

$$2)->Repetiton$$

A string can be repeated multiple times by using **( * )** operator

In [158]:
a="Bunty "
a*3

'Bunty Bunty Bunty '

In [159]:
"Knock" *3

'KnockKnockKnock'

In [160]:
"Knock" *3 +"Pennny"

'KnockKnockKnockPennny'

In [163]:
print("-"*28)
print("\tGood Morning")
print("-"*28)

----------------------------
	Good Morning
----------------------------

$$3)-->index$$

- index start from 0 (zero)
- trying to access a character out of index range will raise an **IndexError**
- The index must be an intger. we cannot use float or other types , this will result into **TypeError**
- python allows negative indexing for its sequence for indexing from the end 
- the index of  -1 refers to the last item ,-2 to the second last item and so on.

- search the string for specified value and returns the position of where it was found
- if we the value in the string whic is not present in the given string it will give **error-->ValueError: substring not found**

In [164]:
b="I am from pune "
b.index("p")

10

In [165]:
b.index("am")

2

$$Access-a-char-using-index$$
• We can access individual characters using indexing.

In [166]:
b="Happy Birthday"
b[3]

'p'

In [167]:
len(b)

14

In [168]:
b[-1]

'y'

$$4)-->Slicing$$

- we can accesss range of charcater using slicing
- we can access a range of items in a string by using the slicing operator : (colon)
$$Syntax$$
- string[ start : end+1 ]

In [169]:
b[1:4]

'app'

In [170]:
b[:4]

'Happ'

In [172]:
b[3:]

'py Birthday'

In [173]:
b[-4:-1]

'hda'

$$5)-->Membership$$

- Operations: in ,not,in

In [175]:
b

'Happy Birthday'

In [176]:
'h' in b

True

In [177]:
'H' in b

True

In [178]:
'IRT' in b

False

In [179]:
'IRH' in b

False

$$Raw-string$$
- Suppress the meaning of escape chars
- in case of escape chars in the string and we want to print escape char aslo as it is so we use raw string

In [180]:
sk=r"Sudarshan\n\tKulawade"
sk

'Sudarshan\\n\\tKulawade'

$$is--> mean-we-are-getting-output-in-the-from-of **TRUE |OR| FALSE** $$

- isalpha()--> Returns **True** if all the charcates in the string are **Alphabet**

- isnum()--> Returns **True** if all the characters in th string are **Numeric**

- isalnum()--> Returns **True** if all the charcters in the string are **Alphabet + numberic**

- isdigit() --> Returns **True** if all the charactres in the string are **Digits**

- isdecimal()--> Returns **True** if all the charcaters in the string are **Decimal**

- isprintable()--> Returns **True** if all the charcates in the string are **printable** 

- isspace()--> Returns **True** if all characters in the string are **whitespaces**.

- istitle()--> Returns **True** if all the charcaters in the string are  **follows rules of a Title**

- isidentifier- Returns **True** if the string is an **identifier**

$$isidentifier()$$

- The isidentifier() method returns True if the string is a valid identifier, otherwise False.

-  A string is considered a valid identifier if it only contains **alphanumeric letters (a-z)** and **(0-9)**, or **underscores (_)**. 

- A valid identifier cannot start with a number, or contain any spaces.

$$string.isidentifier()$$

In [181]:
txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [183]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False